<!doctype html>
<html>
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "Middleman" %></title>

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:400,300,600" rel="stylesheet" type="text/css">
    <%= stylesheet_link_tag :site %>
  </head>

  <body class="<%= page_classes %>">
    <!-- NAV BAR -->
    <nav id='topnav' class="navbar">
      <div class="container">
        <div class="pull-right lang-switcher">
          <div class="dropdown">
            <a class="dropdown-toggle silent-link" data-toggle="dropdown">
              <%= image_tag "flags/#{I18n.locale}.png", height: 14 %> <%= I18n.locale.to_s.upcase %> <i class="fa fa-caret-down"></i>
            </a>

            <ul class="dropdown-menu dropdown-menu-right">
              <% { en: 'ENGLISH', cn: 'CHINESE', de: 'GERMAN', jp: 'JAPAN', th: 'THAI' }.each do |key, value| %>
                <li>
                  <% link_to localized_path(current_page.url, key) do %>
                    <%= image_tag "flags/#{key}.png", height: 14 %>
                    <% if  I18n.locale == key  %>
                      <b class="text-primary"><%= value %></b>
                    <% else %>
                      <%= value %>
                    <% end %>
                  <% end %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>

        <div class="navbar-header">
          <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#topnav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <% link_to localized_path("/"), class: "navbar-brand", id: "logo" do %>
            <%= image_tag 'logo.png', height: 40 %>
            <b class="text-primary"><%= t('shared.topnav.company_name') %></b>
          <% end %>
        </div>

        <div class="navbar-right horizontal-nav hidden-xs" style="padding-left: 0">
          <%= partial 'topnav_link' %>
        </div>

        <div id="topnav-collapse" class="vertical-nav collapse">
          <%= partial 'topnav_link' %>
        <div>
      </div>
    </nav>

    <%= yield %>

    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-1 col-sm-1 hidden-xs text-right">
            <%= image_tag 'logo-white.png', id: 'footer-logo', height: 64 %>
          </div>
          <div class="col-md-9 col-sm-8 col-xs-7">
            <h4><%=t 'company_info.company_name' %></h4>
            <div class="row">
              <div class="col-md-5 col-sm-7 col-xs-12">
                <p><%=t 'company_info.company_address' %></p>
              </div>

              <div class="col-md-7 col-sm-5 col-xs-12">
                <table>
                  <tr>
                    <td style="min-width: 60px"><%=t 'contact.telephone' %></td>
                    <td><%=t 'company_info.phone' %></td>
                  </tr>
                  <tr>
                    <td style="min-width: 60px"><%=t 'contact.email' %></td>
                    <td><%=t 'company_info.email' %></td>
                  </tr>
                </table>
              </div>
            </div>
          </div>

          <div class="col-md-2 col-sm-3 col-xs-5">
            <ul class="footer-nav list-unstyled">
              <li><%= link_to t('shared.topnav.home'), localized_path('/') %></li>
              <li><%= link_to t('shared.topnav.company_profile'), localized_path('/company-profile') %></li>
              <li><%= link_to t('shared.topnav.services'), localized_path('/services') %></li>
              <li><%= link_to t('shared.topnav.get_quotation'), localized_path('/quotation') %></li>
              <li><%= link_to t('shared.topnav.contact_us'), localized_path('/contact') %></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>

    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <%= javascript_include_tag :all %>
  </body>
</html>
