---
title: 'HOME | SAHAPORN TOOLS'
active_topnav: 'home'
---

<div id="home-carousel" class="carousel slide block-with-spacing-bottom" data-ride="carousel" >
  <ol class="carousel-indicators carousel-indicators-navy">
    <li data-target="#home-carousel" data-slide-to="0" class="active"></li>
    <li data-target="#home-carousel" data-slide-to="1"></li>
  </ol>

  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <%= image_tag 'home/carousel/item-1.png' %>
      <div class="carousel-image-mask"></div>
      <div class="caption text-center">
        <h2><%=t 'home.carousel_1_title' %></h2>
        <%= link_to t('home.carousel_1_link_text'), '#home-services', class: 'btn btn-primary' %>
      </div>
    </div>

    <div class="item">
      <%= image_tag 'home/carousel/item-2.png' %>
      <div class="carousel-image-mask"></div>
      <div class="caption text-center">
        <h2><%=t 'home.carousel_1_title' %></h2>
        <%= link_to t('home.carousel_1_link_text'), '#home-services', class: 'btn btn-primary' %>
      </div>
    </div>
  </div><!-- END carousel-inner -->
</div><!-- END home-carousel -->

<div id="home-services">
  <%= partial 'services_navigation' %>
</div>

<div class="container block-with-spacing-bottom" id="home-use-service">
  <div class="row">
    <div class="col-sm-6 col-xs-12">
      <div class="image-container-6" data-target="#home-use-service .detail-with-image">
        <%= image_tag 'home/worker.png' %>
      </div>
    </div>

    <div class="col-sm-6 col-xs-12">
      <div class="detail-with-image">
        <h2><%=t 'home.simple_steps_to_use_our_services' %></h2>
        <hr class="thick">
        <p><%=t 'home.to_use_our_service_paragraph' %></p>
        <p><%=t 'home.we_kindly_paragraph' %></p>
        <h5><%=t 'home.information_we_need' %></h5>
        <ul class="list-unstyled list-primary-bullet">
          <li><%=t 'home.your_contact_informations' %></li>
          <li><%=t 'home.your_project_requirement' %></li>
          <li><%=t 'home.your_project_details' %></li>
        </ul>
        <div><%= link_to t('home.get_a_quotation'), '/quotation', class: 'btn btn-primary' %></div>
        <p><%=t 'home.your_information_will_kept_privately' %></p>
      </div>
    </div>
  </div>
</div>

<div class="container text-center block-with-spacing-bottom" id="home-testimonials">
  <div id="home-testimonial-carousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators carousel-indicators-navy">
      <li data-target="#home-testimonial-carousel" data-slide-to="0" class="active"></li>
      <li data-target="#home-testimonial-carousel" data-slide-to="1"></li>
      <li data-target="#home-testimonial-carousel" data-slide-to="2"></li>
    </ol>

    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <h3><%=t 'home.testimonials.testimonial_1_message' %></h3>
        <hr class="thick">
        <b><%=t 'home.testimonials.testimonial_1_client' %></b>
      </div>

      <div class="item">
        <h3><%=t 'home.testimonials.testimonial_1_message' %></h3>
        <hr class="thick">
        <b><%=t 'home.testimonials.testimonial_1_client' %></b>
      </div>

      <div class="item">
        <h3><%=t 'home.testimonials.testimonial_1_message' %></h3>
        <hr class="thick">
        <b><%=t 'home.testimonials.testimonial_1_client' %></b>
      </div>
    </div>
  </div>
</div>

<div class="container block-with-spacing-bottom" id="home-contacts">
  <div class="row">
    <div class="col-sm-6 col-xs-12">
      <div class="image-container-6" data-target="#home-contacts .detail-with-image">
        <%= image_tag 'home/factory.png' %>
      </div>
    </div>

    <div class="col-sm-6 col-xs-12">
      <div class="detail-with-image no-vertical-padding">
        <h2><%=t 'home.contact.interested' %></h2>
        <p><%=t 'home.contact.if_you_re_interested' %></p>
        <div><%= link_to t('home.get_a_quotation'), '/quotation', class: 'btn btn-primary' %></div>
        <p><%=t 'home.contact.if_you_want_more_info' %></p>
        <p><%=t 'home.contact.please_give_us_a_call' %></p>
        <h5 class="text-primary"><i class="fa fa-phone"></i><%=t 'company_info.phone' %></h5>
        <p><%=t 'home.contact.phone_time' %></p>
        <b class="text-primary"><i class="fa fa-envelope"></i><%=t 'company_info.email' %></b>
      </div>
    </div>
  </div>
</div>
