---
title: 'SERVICES | SAHAPORN TOOLS'
active_topnav: 'services'
---

<div class="hero-image text-center">
  <%= image_tag 'services/service-1.png' %>
  <div class="heading-block small-bottom-padding wide">
    <h1><%=t 'services.service_1_title' %></h1>
    <p><%=t 'services.service_1_description' %></p>
    <br>
    <u><%= link_to t('shared.more_details'), '/services/industrial-parts' %></u>
  </div>
</div>

<div class="hero-image text-center">
  <%= image_tag 'services/service-2.png' %>
  <div class="heading-block small-bottom-padding wide">
    <h1><%=t 'services.service_2_title' %></h1>
    <p><%=t 'services.service_2_description' %></p>
    <br>
    <u><%= link_to t('shared.more_details'), '/services/specific-design' %></u>
  </div>
</div>

<div class="hero-image text-center">
  <%= image_tag 'services/service-3.png' %>
  <div class="heading-block small-bottom-padding wide">
    <h1><%=t 'services.service_3_title' %></h1>
    <p><%=t 'services.service_3_description' %></p>
    <br>
    <u><%= link_to t('shared.more_details'), '/services/from-idea-to-reality' %></u>
  </div>
</div>

<div class="hero-image text-center">
  <%= image_tag 'services/service-4.png' %>
  <div class="heading-block wide">
    <h1><%=t 'services.service_4_title' %></h1>
    <p><%=t 'services.service_4_description' %></p>
    <br>
    <u><%= link_to t('shared.more_details'), '/services/mass-production' %></u>
  </div>
</div>
