---
title: 'FROM IDEA TO REALITY | SAHAPORN TOOLS'
active_topnav: 'services'
---

<div class="hero-image text-center">
  <%= image_tag 'services/service-3.png' %>
  <div class="heading-block wide">
    <h1><%=t 'services.service_3_title' %></h1>
    <p><%=t 'services.service_3_description' %></p>
    <br>
    <div><%= link_to t('home.get_a_quotation'), localized_path('/quotation'), class: 'btn btn-wide btn-primary' %></div>
  </div>
</div>

<div class="container block-with-spacing-bottom" id="from-idea-to-reality-from-sketch-to-drawing">
  <div class="row">
    <div class="col-sm-6 col-xs-12">
      <div class="image-container-6" data-target="#from-idea-to-reality-from-sketch-to-drawing .detail-with-image">
        <%= image_tag 'services/from-idea-to-reality/from-idea-to-reality-1.png' %>
      </div>
    </div>

    <div class="col-sm-6 col-xs-12">
      <div class="detail-with-image">
        <h2><%=t 'idea_to_reality.from_sketch_to_drawings' %></h2>
        <hr class="thick">
        <p><%=t 'idea_to_reality.every_product_start_from_paragraph' %></p>
        <p><%=t 'idea_to_reality.at_sahaporn_tool_paragraph' %></p>
        <h5><%=t 'idea_to_reality.what_we_can_do' %></h5>
        <ul class="list-unstyled list-primary-bullet">
          <li><%=t 'idea_to_reality.what_we_can_do_1' %></li>
          <li><%=t 'idea_to_reality.what_we_can_do_2' %></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="container block-with-spacing-bottom" id="from-idea-to-reality-making-the-design">
  <div class="row">
    <div class="col-xs-12 visible-xs hidden-sm">
      <div class="image-container-6" data-target="#from-idea-to-reality-making-the-design .detail-with-image">
        <%= image_tag 'services/from-idea-to-reality/from-idea-to-reality-2.png' %>
      </div>
    </div>

    <div class="col-sm-6 col-xs-12">
      <div class="detail-with-image big-vertial-padding">
        <h2><%=t 'idea_to_reality.making_the_design' %></h2>
        <hr class="thick">
        <p><%=t 'idea_to_reality.we_also_help_you_paragraph' %></p>
        <p><%=t 'idea_to_reality.by_making_the_3d_paragraph' %></p>
        <p><%=t 'idea_to_reality.our_experts_will_paragraph' %></p>
      </div>
    </div>

     <div class="col-sm-6 hidden-xs">
      <div class="image-container-6" data-target="#from-idea-to-reality-making-the-design .detail-with-image">
        <%= image_tag 'services/from-idea-to-reality/from-idea-to-reality-2.png' %>
      </div>
    </div>
  </div>
</div>

<div class="container block-with-spacing-bottom" id="from-idea-to-reality-put-into-production">
  <div class="row">
    <div class="col-sm-6 col-xs-12">
      <div class="image-container-6" data-target="#from-idea-to-reality-put-into-production .detail-with-image">
        <%= image_tag 'services/from-idea-to-reality/from-idea-to-reality-3.png' %>
      </div>
    </div>

    <div class="col-sm-6 col-xs-12">
      <div class="detail-with-image big-vertial-padding">
        <h2><%=t 'idea_to_reality.put_into_production_line' %></h2>
        <hr class="thick">
        <p><%=t 'idea_to_reality.once_we_have_create_paragraph' %></p>
        <p><%=t 'idea_to_reality.we_have_teams_to_help_paragraph' %></p>
        <p><%=t 'idea_to_reality.once_the_prototype_paragraph' %></p>
        <h5><%=t 'idea_to_reality.after_the_prototype' %></h5>
        <ul class="list-unstyled list-primary-bullet">
          <li><%=t 'idea_to_reality.after_the_prototype_1' %></li>
          <li><%=t 'idea_to_reality.after_the_prototype_2' %></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<%= partial 'compact_quotation_form' %>
<%= partial 'services_navigation' %>

