---
title: 'INDUSTRIAL PARTS | SAHAPORN TOOLS'
active_topnav: 'services'
---

<div class="hero-image text-center">
  <%= image_tag 'services/service-1.png' %>
  <div class="heading-block wide">
    <h1><%=t 'services.service_1_title' %></h1>
    <p><%=t 'services.service_1_description' %></p>
    <br>
    <div><%= link_to t('home.get_a_quotation'), '/quotation', class: 'btn btn-wide btn-primary' %></div>
  </div>
</div>

<div class="container block-with-spacing-bottom" id="industrial-parts-forming-processes">
  <div class="row">
    <div class="col-sm-6 col-xs-12">
      <div class="image-container-6" data-target="#industrial-parts-forming-processes .detail-with-image">
        <%= image_tag 'services/industrial-parts/industrial-1.png' %>
      </div>
    </div>

    <div class="col-sm-6 col-xs-12">
      <div class="detail-with-image">
        <h2><%=t 'industrial_parts.forming_processes' %></h2>
        <hr class="thick">
        <p><%=t 'industrial_parts.at_sahaporn_tool_paragraph' %></p>
        <p><%=t 'industrial_parts.we_offers_many_types_paragraph' %></p>
        <h5><%=t 'industrial_parts.our_forming_processes' %></h5>
        <ul class="list-unstyled list-primary-bullet">
          <li><%=t 'industrial_parts.cnc_milling' %></li>
          <li><%=t 'industrial_parts.wire_cut_edm' %></li>
          <li><%=t 'industrial_parts.metal_lathe' %></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="container block-with-spacing-bottom" id="industrial-parts-finishing-works">
  <div class="row">
    <div class="col-xs-12 visible-xs hidden-sm">
      <div class="image-container-6" data-target="#industrial-parts-finishing-works .detail-with-image">
        <%= image_tag 'services/industrial-parts/industrial-2.png' %>
      </div>
    </div>

    <div class="col-sm-6 col-xs-12">
      <div class="detail-with-image big-vertial-padding">
        <h2><%=t 'industrial_parts.finishing_works' %></h2>
        <hr class="thick">
        <p><%=t 'industrial_parts.we_have_various_processes_paragraph' %></p>
        <p><%=t 'industrial_parts.we_have_industrial_standard_paragraph' %></p>
        <h5><%=t 'industrial_parts.our_finishing_processes' %></h5>
        <ul class="list-unstyled list-primary-bullet">
          <li><%=t 'industrial_parts.machine_grinding' %></li>
          <li><%=t 'industrial_parts.hrc_hardening' %></li>
          <li><%=t 'industrial_parts.coating' %></li>
        </ul>
      </div>
    </div>

     <div class="col-sm-6 hidden-xs">
      <div class="image-container-6" data-target="#industrial-parts-finishing-works .detail-with-image">
        <%= image_tag 'services/industrial-parts/industrial-2.png' %>
      </div>
    </div>
  </div>
</div>

<div class="container block-with-spacing-bottom" id="industrial-parts-high-standard">
  <div class="row">
    <div class="col-sm-6 col-xs-12">
      <div class="image-container-6" data-target="#industrial-parts-high-standard .detail-with-image">
        <%= image_tag 'services/industrial-parts/industrial-3.png' %>
      </div>
    </div>

    <div class="col-sm-6 col-xs-12">
      <div class="detail-with-image big-vertial-padding">
        <h2><%=t 'industrial_parts.high_standard_quality_control' %></h2>
        <hr class="thick">
        <p><%=t 'industrial_parts.to_ensure_the_top_quality_paragraph' %></p>
        <p><%=t 'industrial_parts.the_emphasis_of_quality_paragraph' %></p>
        <p><%=t 'industrial_parts.we_have_team_of_experts_paragraph' %></p>
      </div>
    </div>
  </div>
</div>

<div class="container block-with-spacing-bottom" id="industrial-parts-precise-assembling">
  <div class="row">
    <div class="col-xs-12 visible-xs hidden-sm">
      <div class="image-container-6" data-target="#industrial-parts-precise-assembling .detail-with-image">
        <%= image_tag 'services/industrial-parts/industrial-4.png' %>
      </div>
    </div>

    <div class="col-sm-6 col-xs-12">
      <div class="detail-with-image huge-vertial-padding">
        <h2><%=t 'industrial_parts.precise_assembling' %></h2>
        <hr class="thick">
        <p><%=t 'industrial_parts.after_carefully_paragraph' %></p>
        <p><%=t 'industrial_parts.every_parts_and_fixtures_paragraph' %></p>
      </div>
    </div>

     <div class="col-sm-6 hidden-xs">
      <div class="image-container-6" data-target="#industrial-parts-precise-assembling .detail-with-image">
        <%= image_tag 'services/industrial-parts/industrial-4.png' %>
      </div>
    </div>
  </div>
</div>

<%= partial 'compact_quotation_form' %>
<%= partial 'services_navigation' %>

