---
title: 'SPECIFIC DESIGN | SAHAPORN TOOLS'
active_topnav: 'services'
---

<div class="hero-image text-center">
  <%= image_tag 'services/service-2.png' %>
  <div class="heading-block wide">
    <h1><%=t 'services.service_2_title' %></h1>
    <p><%=t 'services.service_2_description' %></p>
    <br>
    <div><%= link_to t('home.get_a_quotation'), '/quotation', class: 'btn btn-wide btn-primary' %></div>
  </div>
</div>

<div class="container block-with-spacing-bottom" id="specific-design-solving-the-complications">
  <div class="row">
    <div class="col-sm-6 col-xs-12">
      <div class="image-container-6" data-target="#specific-design-solving-the-complications .detail-with-image">
        <%= image_tag 'services/specific-design/specific-design-1.png' %>
      </div>
    </div>

    <div class="col-sm-6 col-xs-12">
      <div class="detail-with-image">
        <h2><%=t 'specific_design.solving_the_complications_together' %></h2>
        <hr class="thick">
        <p><%=t 'specific_design.we_have_team_of_experts_paragraph' %></p>
        <h5><%=t 'specific_design.what_we_do' %></h5>
        <ul class="list-unstyled list-primary-bullet">
          <li><%=t 'specific_design.what_we_do_1' %></li>
          <li><%=t 'specific_design.what_we_do_2' %></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="container block-with-spacing-bottom" id="specific-design-experiment-process">
  <div class="row">
    <div class="col-xs-12 visible-xs hidden-sm">
      <div class="image-container-6" data-target="#specific-design-experiment-process .detail-with-image">
        <%= image_tag 'services/specific-design/specific-design-2.png' %>
      </div>
    </div>

    <div class="col-sm-6 col-xs-12">
      <div class="detail-with-image big-vertial-padding">
        <h2><%=t 'specific_design.experiment_with_the_new_process' %></h2>
        <hr class="thick">
        <p><%=t 'specific_design.at_sahaporn_tool_paragraph' %></p>
        <h5><%=t 'specific_design.we_experiment_to' %></h5>
        <ul class="list-unstyled list-primary-bullet">
          <li><%=t 'specific_design.we_experiment_to_1' %></li>
          <li><%=t 'specific_design.we_experiment_to_2' %></li>
          <li><%=t 'specific_design.we_experiment_to_3' %></li>
        </ul>
      </div>
    </div>

     <div class="col-sm-6 hidden-xs">
      <div class="image-container-6" data-target="#specific-design-experiment-process .detail-with-image">
        <%= image_tag 'services/specific-design/specific-design-2.png' %>
      </div>
    </div>
  </div>
</div>

<div class="container block-with-spacing-bottom" id="specific-design-experiences-teams">
  <div class="row">
    <div class="col-sm-6 col-xs-12">
      <div class="image-container-6" data-target="#specific-design-experiences-teams .detail-with-image">
        <%= image_tag 'services/specific-design/specific-design-3.png' %>
      </div>
    </div>

    <div class="col-sm-6 col-xs-12">
      <div class="detail-with-image big-vertial-padding">
        <h2><%=t 'specific_design.experiences_teams_of_workers' %></h2>
        <hr class="thick">
        <p><%=t 'specific_design.our_team_consisted_paragraph' %></p>
        <p><%=t 'specific_design.with_them_we_can_paragraph' %></p>
        <h5><%=t 'specific_design.our_teams_of_experts_can' %></h5>
        <ul class="list-unstyled list-primary-bullet">
          <li><%=t 'specific_design.our_teams_of_experts_can_1' %></li>
          <li><%=t 'specific_design.our_teams_of_experts_can_2' %></li>
          <li><%=t 'specific_design.our_teams_of_experts_can_3' %></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<%= partial 'compact_quotation_form' %>
<%= partial 'services_navigation' %>

