<div class="container block-with-spacing-bottom" id='services-navigation'>
  <div class="heading-block text-center">
    <h2><%=t 'services.services_we_provide' %></h2>
    <p><%=t 'services.today_sahaporn_paragraph' %></p>
    <% if defined? show_smallest_pins_paragraph %>
      <p><%=t 'services.we_can_do_the_smallest_pins_paragraph' %></p>
    <% end %>
  </div>

  <div class="row">
    <% url = ['industrial-parts', 'specific-design', 'from-idea-to-reality', 'mass-production'] %>
    <% 4.times do |i| %>
      <div class="col-sm-3 col-xs-12">
        <a href="/services/<%= url[i] %>">
          <div class="col-xs-4 col-sm-12 service-square-image image-container-3"><%= image_tag "services/service-#{i+1}-square.png" %></div>
          <div class="col-xs-8 col-sm-12 service-detail">
            <h5><%=t "services.service_#{i+1}_title" %></h5>
            <p><%=t "services.service_#{i+1}_description" %></p>
          </div>
        </a>
      </div>
    <% end %>
  </div>
</div>
