<ul class="navigation list-unstyled">
  <li class="active <%= 'active' if current_page.data.active_topnav == 'home' %>"><a><%= t('shared.topnav.home') %></a></li>
  <li><a><%= t('shared.topnav.company_profile') %></a></li>
  <li><a><%= t('shared.topnav.services') %></a></li>
  <li><a><%= t('shared.topnav.get_quotation') %></a></li>
  <li><a><%= t('shared.topnav.contact') %></a></li>
</ul>
<hr>
